@charset "UTF-8";
/* Variables
--------------------------------*/
:root {
	--color-bg-dark: #28293e;
	--color-bg-light: #fdf0e9;

	--color-text-white: #ffffff;
	--color-text-gray: rgba(255, 255, 255, 0.64);
	--color-text-gray-30: rgba(255, 255, 255, 0.3);
	--color-text-dark: #391400;
	--color-text-dark-gray: rgba(57, 20, 0,0.64);

	--color-accent: #EF6D58;
}

/* Base
--------------------------------*/
html {
	font-size: 100%;    /* 1rem = 16px */
}

body {
	font-size: 1rem;
	font-family: "Epilogue", "Noto Sans JP", sans-serif;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

h1 {
	font-size: 4.5rem;		/* 72px */
	line-height: 1.1;		/* 80(hight) ÷ 72 */
	color: var(--color-text-white);
}

h2 {
	font-size: 3.5rem;		/* 56px */
	line-height: 1.14;		/* 64 ÷ 56 */
}

h3 {
	font-size: 2.5rem;		/* 40px */
	line-height: 1.2;	/* 48 ÷ 40 */
	color: var(--color-text-dark);
}

h4 {
	font-size: 1.5rem;	/* 24px */
	line-height: 1.33;	/* 32 ÷ 24 */
	color: var(--color-text-dark);
}

/* Layout
--------------------------------*/
.l-inner {
	width: 100%;
	padding: 0 23px;
	max-width: 1170px;
	margin: 0 auto;
}

/* Text (Typography)
--------------------------------*/
.t-accent-text {
	font-size: 1rem;			/* 16px */
	font-weight: 400;
	line-height: 2;				/* 32 ÷ 16 */
	letter-spacing: 3px;
	text-transform: uppercase;  /* HTML上で大文字にすると単語ではなく一音ずつとして読まれる可能性考慮 */
	color: var(--color-accent);
}

.t-text{
	font-size: 1rem;			/* 16px */
	font-weight: 400;
	line-height: 2;				/* 32 ÷ 16 */
	letter-spacing: 0px;
	color: var(--color-text-gray);
}

.t-text-big{
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1.6;
	letter-spacing: 0;
	color: var(--color-text-dark)
}

/* Components
--------------------------------*/
/* Button
--------------------------------*/
.c-button {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	width: 170px;
	height: 48px;

	padding-top: 3px;      /*ベースラインが消えてテキストがずれるため*/
	border-radius: 7px;
	font-weight: 900;
	line-height: 1.3;
	text-transform: uppercase;
}

/* Button variations */
.c-button--primary {
	background: var(--color-accent);
	color: #fff;
}

.c-button--secondary {
	background: transparent;
	border: 1px solid #000000;
	color: var(--color-text-dark);
}

.c-button--dark {
	background-color: transparent;
	border: 1px solid var(--color-text-gray-30);
	color: var(--color-text-white);
}

/* Circle button
--------------------------------*/
.c-circle-button {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	width: 48px;
	height: 48px;
	border-radius: 50%;

	background:var(--color-text-white);
	border: none;
	cursor: pointer;
}

/* 疑似要素作るための箱(flexboxの為幅がないと崩れる) */
.c-circle-button__icon {
	position: relative;   /* ← 疑似要素の基準 */
	width:12px;
	height: 12px;
}

/* +マーク */
.c-circle-button__icon::before,
.c-circle-button__icon::after {
	content: "";
	position: absolute;
	inset: 0;
	margin: auto;

	width: 12px;
	height: 2px;
	background: #ef6c57;
	transition: transform 0.3s;
}

/* 縦線 */
.c-circle-button__icon::after {
	transform: rotate(90deg);
}

.service__toggle.is-open .c-circle-button__icon::after {
	transform: rotate(0deg);
}

/* Circle
--------------------------------*/
.c-circle{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color:#ef6c57;
}

.c-badge{
	height: 38px;
	padding: 5px 16px 1px;
	background-color: var(--color-text-white);
	border-radius: 19px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
}

/* Utility
--------------------------------*/
.u-sp-only {
	display: inline;
}

/* Header
--------------------------------*/
.header {
	background-color: var(--color-bg-dark);
	padding-top: 16px;
}
.header__brand{
	display: inline-flex;   /* 行レイアウトがaタグ(インライン要素)によるinline formatting context判断によるベースライン形成(縦に4px追加)防止の為のflex formatting context切り替え(親のflexとは無関係)*/
}

.header__controls{
	display: flex;
	align-items: center;
	justify-content: space-between; 
}

/* toggle button
--------------------------------*/
.header__toggle {
	width: 48px;
	height: 48px;
	background: none;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 8px;
	cursor: pointer;
	position: relative;		/* z-index を効かせる */
	z-index: 1001;			/* overlay より上 */
}

.header__line {
	display: block;
	width: 16px;
	height: 2px;
	background: var(--color-text-white);
	margin: 6px auto;
	transition: transform .3s, opacity .3s;
}
/* SP (default): overlay menu
--------------------------------*/
.header__nav {
	display: none; /* ← 今の方式なら残す（後でopacity方式に改善可） */
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, .4);
	color: var(--color-accent);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	z-index: 1000;
}

/* open */
.header.is-open .header__nav {
	display: block;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

/* panel */
.header__nav-panel {
	background: #fff;
	width: min(320px, 80vw);
	padding: 24px;
	margin-left: auto;
}

.header__nav-list{
	color: var(--color-text-dark);
}

/* hamburger -> X */
.header.is-open .header__line:nth-child(1) {
	transform: translateY(8px) rotate(45deg);
}

.header.is-open .header__line:nth-child(2) {
	opacity: 0;
}

.header.is-open .header__line:nth-child(3) {
	transform: translateY(-8px) rotate(-45deg);
}

/* open中：×を右上固定（overlayに隠れない） */
.header.is-open .header__toggle {
	position: fixed;
	top: 16px;
	right: 16px;
}

/* Hero
--------------------------------*/
.hero {
	background: var(--color-bg-dark);
	/* flex-direction: column; */
	/* align-items: flex-start; */
	padding-top: 32px;
	padding-bottom: 48px;
}

.hero__avatar {
	margin-bottom: 30px;
}

.hero__title {
	margin-bottom: 20px;
}

.hero__heading {
	margin-bottom: -37px;
	color: var(--color-text-white);
}

.hero__lead{
	margin-bottom: 32px;
}

/* Service
--------------------------------*/
.service {
	background-color: var(--color-bg-light);
	padding-top: 92px;
	padding-bottom: 100px;
}

.service__inner{
	text-align: center;
}

.service__title{
	margin-bottom: 17px;
}

.service__heading{
	margin-bottom: 35px;
}

.service__list{
	text-align: left;
	border: 1px solid #f3d1bf;
	border-radius: 6px;
	margin-bottom: 44px;
}

.service__item{
	padding: 48px 28px;
	border-bottom: 1px solid #f3d1bf;
}

.service__head{
	display: flex;
	align-items: center;
	gap: 24px;
	margin-bottom: 28px;
}

.service__icon{
	display: flex;
	justify-content: center;
	align-items: center; 
}

.service__text{
	color: var(--color-text-dark-gray);
	margin-bottom: 24px;
}
.service__toggle{
	display:flex;
	align-items:center;
	gap:16px;
}

.service__toggle-text{
	color: var(--color-text-dark);
}

.service__cta{
	color: var(--color-text-dark-gray);
}

.service__cta-link{
	color: var(--color-text-dark);
}

/* Portfolio
--------------------------------*/
.portfolio {
	background-color: var(--color-bg-dark);
	padding-top: 76px;
	padding-bottom: 64px;
}

.portfolio__title{
	margin-bottom: 17px;
}

.portfolio__heading{
	color: var(--color-text-white);
	border-color: var(--color-text-gray-30);
	margin-bottom: 35px;
}

.portfolio__button{
	margin-bottom: 48px;
}

.portfolio__grid{
	margin: 0 auto;
}

.portfolio__item{
	padding: 16px 18px;
	border: 1px solid #3a3c56;
	max-width: 448px;
	margin: 0 auto;
}

/* リンク＝カードの箱にする */
.portfolio__link{
	display:block;
	position: relative;
}

.portfolio__img{
	width: 100%;
}

/* overlay */
.portfolio__caption{
	position: absolute;
	inset: 0;
	display: grid; 
	gap: 23px;
	align-content: end;     
	padding: 0 0 40px 37px;
}



.portfolio__badge-label{
	color: var(--color-text-dark);
}

.portfolio-item__title{
	color: var(--color-text-white);
}

/* about
--------------------------------*/
.about{
	background-color: var(--color-bg-light);
	padding-top: 100px;
	padding-bottom: 113px;
}

.about__title{
	margin-bottom: 17px;
}

.about__heading{
	margin-bottom: 29px;
}

/* Features
--------------------------------*/
.features {
	background-color: var(--color-bg-dark);
}



/* Testimonials
--------------------------------*/
.testimonials {}

/* FAQ
--------------------------------*/
.faq {}

/* Blog
--------------------------------*/
.blog {}

/* Contact
--------------------------------*/
.contact {}


/* PC
--------------------------------*/
@media (min-width: 769px) {         /*1440？いくつにするか後で判断*/
	/* Utility
	--------------------------------*/
	.u-sp-only {
		display: none;
	}
	/* Header
	--------------------------------*/
	.header__toggle {
		display: none;
	}

	.header__nav {
		display: block;
		position: static;
		inset: auto;
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		background: transparent;
		z-index: auto;
	}

	.header__nav-panel {
		width: auto;
		padding: 0;
		margin: 0;
		background: transparent;
	}

	.header__nav-list {
		color: var(--color-text-white);
		display: flex;
		gap: 24px;
	}
}


