// u-sp-only → 表示
// u-pc-only → 非表示

// PC
// u-sp-only → 非表示
// u-pc-only → 表示

.u-pc-only {
  display: none;
}

@media (min-width: 768px) {
  .u-sp-only {
    display: none;
  }

  .u-pc-only {
    display: revert;
  }
}
