/* contact hero
--------------------------------*/
.contact-page {
  background-color: var(--color-bg-light);

  .c-input--textarea {
    min-height: 96px;
  }

  .contact-map {
    padding: 64px 0px;
  }

  .access-map {
    position: relative;
    max-width: 1440px;
    height: 720px;
    margin-inline: auto;
  }

  .access-map__pin {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .access-map__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  /* contact-info
  --------------------------------*/

  .contact-info__list {
    border: 1px solid var(--color-border);
    border-radius: 6px;
  }

  .contact-info__item {
    // home.scss の .contact-info__item が flex 指定を持っているため、
    // contactページでは li の通常表示に戻す
    // align-items は残って見えるが、flex でなくなるため実質効かない
    display: list-item;
    margin-bottom: 0;

    padding: 32px 123px 37px 28px;
  }

  .contact-info__item + .contact-info__item {
    border-top: 1px solid var(--color-border);
  }

  .contact-info__head {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-bottom: 26px;
  }

  .contact-info__text {
    margin-top: 0px;
  }

  .contact-faq {
    padding-top: 108px;
  }

  .c-faq {
    padding-bottom: 118px;
    border-bottom: 1px solid var(--color-border);
  }

  @media (min-width: 1024px) {
    .contact-map {
      position: relative; // PCでabsoluteするための基準
      padding-top: 0px;
    }

    .contact-card {
      position: absolute;
      z-index: 1;
      width: clamp(329px, 28.27vw + 162.86px, 470px);
      margin-bottom: 0px;
      top: 126px;
    }

    .access-map__pin {
      left: 967px;
    }

    .contact-info__list {
      display: flex;
    }
    .contact-info__item {
      padding-left: clamp(28px, calc(2.98vw + 5.14px), 48px);
    }
  }
}
