/* home
===================================*/
/* Hero
--------------------------------*/
.hero {
  background: var(--color-bg-dark);
  padding-top: 32px;
  padding-bottom: 48px;
}

.hero__img {
  margin-bottom: 30px;
}

.hero__avatar {
  width: 100%;
  max-width: 568px;
}

.hero__title {
  margin-bottom: 20px;
}

.hero__heading {
  margin-bottom: -37px;
  margin-right: -33px;
  color: var(--color-white);
}

.hero__lead {
  margin-bottom: 32px;
  max-width: 340px;
}

/* Service
--------------------------------*/
.service {
  background-color: var(--color-bg-light);
  padding-top: 92px;
  padding-bottom: 100px;
}

.service__inner {
  text-align: center;
}

.service__title {
  margin-bottom: 17px;
}

.service__heading {
  margin-bottom: 35px;
}

.service__list {
  text-align: left;
  margin-bottom: 44px;
  border: 1px solid var(--color-border);
  border-radius: 6px;
}

.service__list > * + * {
  border-top: 1px solid var(--color-border);
}

.service__item {
  padding: 48px 28px;
}

.service__head {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 28px;
}

.service__text {
  color: var(--color-text-dark-gray-64);
  margin-bottom: 24px;
}

.service__toggle {
  display: flex;
  align-items: center;
  gap: 16px;
}

.service__toggle-text {
  color: var(--color-text-dark);
}

.service__cta {
  color: var(--color-text-dark-gray-64);
}

.service__cta-link {
  color: var(--color-text-dark);
}

/* Portfolio
--------------------------------*/
.portfolio {
  background-color: var(--color-bg-dark);
  padding-top: 76px;
  padding-bottom: 64px;
}

.portfolio__inner {
  max-width: 340px;
  margin: 0 auto;
}

.portfolio__title {
  margin-bottom: 17px;
}

.portfolio__heading {
  color: var(--color-white);
  border-color: var(--color-text-gray-30);
  margin-bottom: 35px;
}

.portfolio__button {
  margin-bottom: 48px;
}

.portfolio__list {
  /* display: grid; */
  /*親要素でボーダーをレスポンシブ含めて制御*/
  margin: 0 auto;
  border: 1px solid var(--color-border-dark);
  width: fit-content;
}

.portfolio__list > * + * {
  border-top: 1px solid var(--color-border-dark);
}

.top-page {
  .portfolio__item {
    padding: 16px 18px;
    max-width: 500px;
    /*パディング領域の色背景色に上書き*/
    background: var(--color-bg-dark);
  }

  /* リンク＝カードの箱にする */

  .portfolio__link {
    display: block;
    position: relative;
    aspect-ratio: 340 /438;
  }

  .portfolio__img {
    width: 100%;
    height: 100%;
  }
}
/* overlay */
.portfolio__caption {
  position: absolute;
  inset: 0;
  display: grid;
  gap: 23px;
  align-content: end;
  padding: 0 0 40px 37px;
}

.portfolio__badge-label {
  color: var(--color-text-dark);
}

.portfolio__item-title {
  color: var(--color-white);
}

/* about
--------------------------------*/
.about {
  background-color: var(--color-bg-light);
  padding-top: 100px;
  padding-bottom: 113px;
}

.about__title {
  margin-bottom: 17px;
}

.about__lead {
  margin-bottom: 18px;
}

.about__heading {
  margin-bottom: 29px;
}

.about__text {
  color: var(--color-text-dark-gray-64);
  margin-bottom: 32px;
}

.about__cta {
  margin-bottom: 96px;
}

/* Features
--------------------------------*/
.features {
  padding-top: 77px;
  padding-bottom: 164px;
  background-color: var(--color-bg-dark);
}

.features__title {
  margin-bottom: 17px;
}

.features__heading {
  color: var(--color-white);
  margin-bottom: 29px;
}

.features__lead {
  color: var(--color-white);
  margin-bottom: 29px;
}

.features__item {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  align-items: center;
}

.features__text {
  color: var(--color-text-gray-64);
}

/* Get Started
--------------------------------*/
.get-started {
  background-color: var(--color-bg-pink);
  padding-top: 92px;
}

.get-started__layout {
  position: relative;
}

.get-started__star::before {
  content: "";
  position: absolute;
  top: -166px;
  left: -16px;
  width: 148px;
  height: 148px;
  background: url("../img/top-page/get-started/logo.star.svg") no-repeat center / contain;
}

.get-started__inner {
  padding-inline: 51px;
  max-width: 375px;
  margin: 0 auto;
}

.get-started__text {
  margin-bottom: 13px;
}

.get-started__heading {
  margin-bottom: 23px;
}

.get-started__button {
  margin-bottom: 60px;
}

.get-started__desc {
  color: var(--color-text-dark-gray-64);
  margin-bottom: 29px;
}

.get-started__media {
  margin-left: -51px;
}

.get-started__image {
  max-width: 375px;
}

/* Testimonials
--------------------------------*/
.testimonials {
  padding-top: 130px;
  padding-bottom: 112px;
  background-color: var(--color-bg-light);
  text-align: center;
}

.testimonials__title {
  margin-bottom: 17px;
}

.testimonials__heading {
  margin-bottom: 35px;
}

.testimonials__list {
  text-align: left;
  border: 1px solid var(--color-border);
  border-radius: 6px;
}

.testimonials__list > * + * {
  border-top: 1px solid var(--color-border);
}

.testimonials__item {
  padding: 48px 28px 35px 28px;
}

.testimonials__item:nth-child(2) {
  background-color: var(--color-white);
}

.testimonials__rating {
  margin-bottom: 36px;
}

.testimonials__text {
  color: var(--color-text-dark-gray-64);
  margin-bottom: 64px;
}

.testimonials__author {
  display: flex;
  gap: 24px;
  align-items: center;
}

.testimonials__name {
  margin-bottom: 3px;
}

.testimonials__role {
  color: var(--color-text-dark);
}

.testimonials__cta {
  margin-top: 48px;
}

/* FAQ
--------------------------------*/
.home-faq {
  background-color: var(--color-bg-dark);
  padding-top: 92px;
  padding-bottom: 98px;
}

.c-logos {
  padding-top: 118px;
}

/* Blog
--------------------------------*/
.blog {
  background-color: var(--color-bg-light);
  padding-top: 92px;
}

.blog__title {
  margin-bottom: 17px;
}

.blog__heading {
  margin-bottom: 35px;
}

.blog__button {
  margin-bottom: 50px;
}

.blog__list {
  display: flex;
  flex-direction: column;
  padding-bottom: 52px;
}

.blog-card__media {
  margin-bottom: 26px;
}

.blog-card__link {
  display: inline-block;
}

.blog-card__category {
  margin-bottom: 15px;
}

.blog-card__title {
  margin-bottom: 15px;
}

.blog-card__date {
  color: var(--color-text-dark-gray-64);
}

.newsletter {
  padding-top: 72px;
  padding-bottom: 112px;
  border-top: 1px solid var(--color-border);
}

.newsletter__text {
  color: var(--color-text-dark-gray-64);
}

.newsletter__title {
  margin-bottom: 3px;
}

.newsletter__text {
  margin-bottom: 36px;
}

.newsletter__fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Contact
--------------------------------*/
.contact {
  padding-top: 80px;
  padding-bottom: 76px;
  background-color: var(--color-bg-dark);
}

.contact-card {
  background-color: var(--color-white);
  padding-top: 57px;
  padding-bottom: 48px;
  border-radius: 6px;
  margin-bottom: 60px;
}

.contact-card__inner {
  padding-inline: 28px;
}

.contact-card__title {
  margin-bottom: 28px;
}

.contact-form__fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.contact-form__actions {
  display: flex;
  justify-content: flex-end;
}

.contact__title {
  margin-bottom: 17px;
}

.contact__heading {
  color: var(--color-white);
  margin-bottom: 15px;
}

.contact__lead {
  color: var(--color-text-gray-64);
  margin-bottom: 32px;
}

.contact-info__item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 20px;
}

.contact .t-text-big {
  color: var(--color-white);
}

.contact-info__text,
.contact-info__link {
  /*フレックススタートによるずれ調整*/
  margin-top: 10px;
}

/* final-cta
--------------------------------*/
.final-cta {
  padding-top: 96px;
  background-color: var(--color-bg-light);
}

.final-cta__visual {
  margin-bottom: 9px;
}

.final-cta__name {
  margin-bottom: 17px;
}

.final-cta__heading {
  margin-bottom: 15px;
}

.final-cta__lead {
  color: var(--color-text-dark-gray-64);
  margin-bottom: 16px;
}

.final-cta__actions {
  padding-bottom: 124px;
}

.final-cta__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin: 0 auto;
  max-width: 510px;
}

.final-cta__item {
  width: 100%;
}

/* 480px以上
--------------------------------*/
@media (min-width: 480px) {
  .hero__heading {
    margin-bottom: 23px;
    margin-right: 0px;
  }
}

/* PC
--------------------------------*/
@media (min-width: 768px) {
  /* Hero
	--------------------------------*/
  .hero {
    padding-top: 127.5px;
    padding-bottom: 138px;
  }

  .hero__inner {
    display: flex;
    /* ↓縦位置を揃える */
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 40px;
  }

  .hero__img {
    margin-right: -20px;
    margin-bottom: 0;
  }

  .hero__lead {
    max-width: 470px;
  }

  /* Service
	--------------------------------*/
  .service__heading {
    margin-bottom: 64px;
  }

  .service__list {
    display: flex;
    margin-bottom: 60px;
  }

  .service__list > * + * {
    border-left: 1px solid var(--color-border);
    border-top: none;
  }

  .service__bag {
    width: 32px;
    height: 26px;
  }

  /* About
	--------------------------------*/
  .about {
    padding-top: 187px;
  }

  .about__inner {
    display: flex;
    gap: clamp(40px, calc(19.49vw + -109.71px), 171px);
  }

  .about__media,
  .about__content {
    flex: 1;
  }

  .about__img {
    width: 100%;
  }

  /* Features
	--------------------------------*/
  .features {
    padding-top: 151px;
    padding-bottom: 159px;
  }

  .features__inner {
    display: flex;
    flex-direction: row-reverse;
    gap: clamp(40px, calc(12.65vw + -57.14px), 125px);
  }

  .features__img {
    width: 100%;
    max-width: 580px;
  }

  .features__visual {
    flex: 1;
  }

  .features__body {
    max-width: 470px;
    flex: 1;
  }

  /* get started
	--------------------------------*/
  .get-started__inner {
    max-width: none;
    padding-inline: clamp(51px, calc(12.5vw + -45px), 135px);
  }

  .get-started__layout {
    display: flex;
    align-items: center;
    max-width: 1166px;
    margin: 0 auto;
  }

  .get-started__content {
    margin-right: clamp(20px, calc(24.26vw + -166.29px), 183px);
    max-width: 217px;
  }

  .get-started__desc {
    max-width: 370px;
    margin-right: 62px;
  }

  .get-started__media {
    margin-left: 0px;
    margin-right: -41px;
  }

  .get-started__image {
    max-width: 100%;
  }

  /* home-faq
  --------------------------------*/
  .home-faq {
    padding-top: 140px;
    padding-bottom: 123px;
  }

  /* blog
	--------------------------------*/
  .blog {
    padding-top: 92px;
  }

  .blog__header {
    display: flex;
    justify-content: space-between;
  }

  .blog__heading {
    margin-bottom: 64px;
  }

  .blog__button {
    align-self: end;
    margin-bottom: 80px;
  }

  .blog__list {
    display: grid;
    margin-bottom: 68px;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    gap: 130px;
  }

  .blog-card__link {
    display: block;
  }

  .blog-card__img {
    width: 100%;
    max-width: 770px;
  }

  .blog-card--featured .blog-card__title {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
  }

  .blog__side {
    justify-self: end;
    max-width: 270px;
  }

  .blog-card--top .blog-card__title {
    margin-bottom: -8px;
  }

  .blog-card--top {
    margin-bottom: 36px;
  }

  .newsletter {
    margin-bottom: 0px;
    padding-top: 56px;
    padding-bottom: 84px;
  }

  .newsletter__inner {
    display: flex;
    justify-content: space-between;
    gap: 197px;
  }

  .newsletter__form {
    flex: 1;
  }

  .newsletter__fields {
    display: flex;
    flex-direction: row;
    margin-top: 7px;
    flex-wrap: wrap;
    gap: 30px;
  }

  .newsletter__field {
    max-width: 370px;
  }

  .newsletter__button {
    width: 170px;
  }

  /* Contact
	--------------------------------*/
  .contact {
    padding-top: 176px;
    padding-bottom: 208px;
  }

  .contact__inner {
    display: grid;
    grid-template-columns: clamp(380px, calc(28.27vw + 162.86px), 570px) 1fr;
    align-items: start;
    gap: clamp(20px, calc(16.37vw + -105.71px), 130px);
  }

  .contact-content {
    margin-top: 28px;
  }

  /* final-cta
	--------------------------------*/
  .final-cta {
    padding-top: 139px;
  }

  .final-cta__inner {
    display: grid;
    grid-template-columns: 47fr 57fr;
    gap: clamp(30px, calc(14.88vw + -84.29px), 130px);
    padding-bottom: 139px;
    align-items: center;
  }

  .final-cta__visual {
    order: 2;
  }

  .final-cta__visual img {
    width: 100%;
    max-width: 570px;
  }

  .final-cta__body {
    order: 1;
    max-width: 470px;
  }

  .final-cta__actions {
    padding-bottom: 0px;
  }

  .final-cta__grid {
    display: flex;
    max-width: 1440px;
  }

  .final-cta__item {
    flex: 1 1 0;
    max-width: 240px;
    width: 100%;
  }
}

/* 1024～1440
--------------------------------*/
@media (min-width: 1024px) {
  /* Portfolio
	--------------------------------*/

  .portfolio {
    padding-block: 80px;
  }

  .portfolio__inner {
    max-width: none;
  }

  .portfolio__header {
    display: flex;
    justify-content: space-between;
  }

  .portfolio__button {
    margin-bottom: 80px;
  }

  .portfolio__list {
    display: flex;
  }

  .portfolio__list > * + * {
    border-left: 1px solid var(--color-border-dark);
    border-top: none;
  }

  // .portfolio__item {
  //   max-width: 464px;
  // }

  /* Testimonials
	--------------------------------*/
  .testimonials {
    padding-top: 108px;
    padding-bottom: 96px;
  }

  .testimonials__heading {
    margin-bottom: 64px;
  }

  .testimonials__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    border: none;
  }

  .testimonials__list > * + * {
    border-top: none;
  }

  .testimonials__item {
    border: 1px solid var(--color-border);
    border-radius: 6px;
  }

  .testimonials__item:nth-child(1) {
    border-right: none;
    border-radius: 6px 0 0 6px;
  }

  .testimonials__item:nth-child(2) {
    min-height: 464px;
    border-radius: 0 0 6px 6px;
  }

  .testimonials__item:nth-child(3) {
    border-left: none;
    border-radius: 0 6px 6px 0;
  }

  .testimonials__cta {
    margin-top: 64px;
  }
}
