/* work-media-project-page
--------------------------------*/
.work-media-project-page {
  background-color: var(--color-bg-light);

  .work-hero {
    padding-top: 39px;
    padding-bottom: 83px;
  }

  .work-hero__back {
    display: inline-flex;
    gap: 14px;
    color: var(--color-text-dark);
    font-size: 12px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 45px;
  }

  .work-hero__title {
    color: var(--color-text-dark);
    margin-bottom: 26px;
  }

  .work-hero__lead {
    color: var(--color-text-dark);
    margin-bottom: 24px;
  }

  .work-hero__text {
    color: var(--color-text-dark-gray-64);
    margin-bottom: 60px;
  }

  .work-hero__group--category {
    margin-bottom: 48px;
  }

  .work-hero__list {
    color: var(--color-text-dark);
  }

  .work-hero__group--client {
    margin-bottom: 44px;
  }

  .work-hero__group--date {
    margin-bottom: 70px;
  }

  .work-hero__group--category .work-hero__label {
    margin-bottom: 16px;
  }

  .work-hero__group--client .work-hero__label {
    margin-bottom: 20px;
  }

  .work-hero__group--date .work-hero__label {
    margin-bottom: 14px;
  }

  .work-problem__content {
    margin-bottom: 64px;
  }

  .work-problem__title {
    margin-bottom: 31px;
  }

  .work-problem__lead {
    margin-bottom: 20px;
  }

  .work-problem__lead,
  .work-problem__text {
    color: var(--color-text-dark-gray-64);
  }

  .work-problem__media {
    width: max(100%, 329px);
    margin-bottom: 72px;
  }

  .work-problem__video {
    position: relative;
    aspect-ratio: 329 / 259;
    overflow: hidden;
    border-radius: 6px;
    margin-bottom: 17px;
  }

  .work-problem__gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 17px 17px;
  }

  .work-problem__gallery-item {
    aspect-ratio: 156 / 120;
    overflow: hidden;
    border-radius: 6px;
  }

  .work-problem__thumb {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .solution__title {
    margin-bottom: 31px;
  }

  .solution__inner {
    border-bottom: 1px solid var(--color-border);
  }

  .solution__texts,
  .solution__text {
    color: var(--color-text-dark-gray-64);
  }

  .solution__text + .solution__text {
    margin-top: 20px;
  }

  .solution__texts {
    margin-bottom: 65px;
  }

  .solution__share {
    text-align: center;
    margin-bottom: 64px;
  }

  .solution__social-list {
    display: inline-flex;
    justify-content: center;
    gap: 8px;
  }

  .solution__share-label {
    color: var(--color-text-dark-gray-64);
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  /* Related projects
--------------------------------*/
  .related-projects {
    padding-top: 80px;
  }

  .related-projects__title {
    margin-bottom: 35px;
    color: var(--color-text-dark);
  }

  .related-projects__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    margin-bottom: 115px;
  }

  .related-projects__item {
    padding: 0;
    background: transparent;
  }

  .related-projects__link {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 6px;
  }

  .related-projects__media {
    display: block;
    aspect-ratio: 329 / 416;
  }

  .related-projects__img {
    width: 100%;
    height: 100%;
  }

  .related-projects__img--keyboard {
    object-fit: cover;
    // 画像の見える位置を左寄せにする
    object-position: left center;
  }

  .related-projects__caption {
    position: absolute;
    left: 28px;
    bottom: 51px;
  }

  .related-projects__badge-label {
    color: var(--color-text-dark);
  }

  .related-projects__badge {
    margin-bottom: 23px;
  }

  .related-projects__item-title {
    color: var(--color-white);
  }

  @media (min-width: 768px) {
    .work-hero__meta {
      display: flex;
      gap: 159px;
    }

    .work-problem__media {
      display: grid;
      grid-template-columns:
        minmax(0, clamp(329px, 48vw, 570px))
        minmax(0, clamp(329px, 48vw, 570px));
      gap: 30px;
      width: 100%;
    }

    .work-problem__video {
      margin-bottom: 0;
      aspect-ratio: 570 / 450;
    }

    .work-problem__gallery {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }

    .work-problem__gallery-item {
      aspect-ratio: 270 / 210;
    }
    .related-projects {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    .related-projects__title {
      margin-bottom: 40px;
    }

    .related-projects__list {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }

    .related-projects__media {
      aspect-ratio: 570 / 416;
    }
  }
}
