/* Layout
--------------------------------*/
.l-inner {
  width: min(100%, 550px);
  padding-inline: 23px;
  margin-inline: auto;
}

.l-narrow {
  width: min(100%, 570px);
  margin-inline: auto;
}

.l-blog-articles__inner {
  max-width: 329px;
  margin-inline: auto;
}

@media (min-width: 768px) {
  .l-inner {
    width: min(100%, 1440px);
    padding-inline: clamp(23px, calc(16.67vw - 105px), 135px);
  }

  .l-narrow {
    padding-inline: initial;
  }

  .l-blog-articles__inner {
    max-width: none;
  }
}
