.c-badge {
  height: 38px;
  padding: 5px 16px 1px;
  background-color: var(--color-white);
  border-radius: 19px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}
