.c-blog-card__media-link {
  display: block;
  aspect-ratio: 329 / 224;
  overflow: hidden;
  border-radius: 6px;
  margin-bottom: 26px;
}

.c-blog-card__category {
  margin-bottom: 15px;
}

.c-blog-card__title {
  margin-bottom: 15px;
}

.c-blog-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 6% 0%;
}

.c-blog-card__date {
  color: var(--color-text-dark-gray-64);
}

@media (min-width: 768px) {
  .c-blog-card__media-link {
    aspect-ratio: 370 / 224;
  }
}
