.c-contact-card {
  background-color: var(--color-white);
  padding-top: 57px;
  padding-bottom: 48px;
  border-radius: 6px;
  margin-bottom: 60px;
}

.c-contact-card__body {
  padding-inline: 48px;
}

.c-contact-card__title {
  margin-bottom: 28px;
}

.c-contact-form__fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.c-contact-form__select-field {
  position: relative;
}

.c-contact-form__select-field::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);

  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #e85f4c;

  pointer-events: none;
}

.c-contact-form__actions {
  display: flex;
  justify-content: flex-end;
}
