/* c-stats
--------------------*/
.c-stats {
  border: 1px solid var(--color-border);
  border-radius: 6px;
}

.c-stats > * + * {
  border-top: 1px solid var(--color-border);
}

.c-stats__item {
  display: flex;
  gap: 29px;
}

.c-stats__icon {
  margin-top: 32px;
  margin-left: 28px;
}

.c-stats__value {
  margin-top: 45px;
  margin-bottom: 13px;
}

.c-stats__label {
  margin-bottom: 36px;
}

@media (min-width: 768px) {
  .c-stats {
    display: flex;
  }

  .c-stats > * + * {
    border-top: none;
    border-left: 1px solid var(--color-border);
  }

  .c-stats__item {
    flex: 1;
  }
}
